# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.LightPerformanceProblem.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Test\LightPerformanceProblem\.idea\.idea.LightPerformanceProblem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
